<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:spring-validation.xml"/>
    <import resource="classpath:spring-i18n.xml"/>

    <!-- 自动扫描带@Controller注解的Bean -->
    <context:component-scan base-package="com.ssh.*.web"/>

    <!-- 对Aop动态代理的支持 -->
    <aop:config proxy-target-class="true"/>

    <!-- @AspectJ Support -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <!-- 防止静态资源被拦截 -->
    <mvc:default-servlet-handler/>
    <!--<mvc:resources location="/assets/" mapping="/assets/**" />-->

    <!-- 配置视图解析器(物理视图=前缀+逻辑视图+后缀) -->
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/html/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!--
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="cache" value="false"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>
    -->

    <!--配置注解映射器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
    <!--配置注解适配器(HandlerAdapter会把Handler包装为适配器从而支持多种类型的Handler处理器)-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!-- 自动注入RequestMappingHandlerMapping和RequestMappingHandlerAdapter -->
    <mvc:annotation-driven conversion-service="conversionService" validator="validator">
        <mvc:message-converters>
            <!-- JSON日期类型转换 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--
    日期类型转换的三种方式:
    (1)在实体类中加日期格式化注解@DateTimeFormat(pattern = Constant.DATETIME_PATTERN);
    (2)定义一个实现Converter接口的全局日期类型转换器并在配置文件中进行配置;
    (3)使用@InitBinder注解.
    -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.ssh.common.web.servlet.converter.DateConverter"/>
            </set>
        </property>
    </bean>

    <!--
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource">
            <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
                <property name="basenames">
                    <list>
                        <value>classpath:ValidationMessages</value>
                        <value>classpath:org/hibernate/validator/ValidationMessages</value>
                    </list>
                </property>
                <property name="defaultEncoding" value="UTF-8"/>
                <property name="cacheSeconds" value="120"/>
            </bean>
        </property>
    </bean>
    -->

    <!-- 配置文件上传解析器 -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="20480"/>
    </bean>

    <!-- 配置JSON转换器(如果使用的是<mvc:annotation-driven />自动注入方式则不用配置) -->
    <!--
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
                <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    -->

    <!-- 配置拦截器: 多个拦截器顺序执行(/**表示拦截所有URL包括子URL路径) -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ssh.common.web.servlet.interceptor.AuditInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
