<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置与web.xml中对应的Filter的bean-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/security/login"/>
        <!--认证成功统一跳转到首页(建议不配置, 由Shiro自动跳转到上一个请求路径)-->
        <property name="successUrl" value="/"/>
        <property name="unauthorizedUrl" value="/error/authzRefuse.jsp"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="simpleFormAuthenticationFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                <!--静态资源的匿名访问-->
                /favicon.ico=anon
                /assets/**=anon
                /captcha/**=anon
                /favicon.ico=anon
                /error/**=anon
                <!--/security/logout对应的Java类可以不存在-->
                /security/logout=logout
                <!--配置记住我或认证通过可以访问的地址-->
                /portal/**=user
                /**=authc
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- Single realm app. If you have multiple realms, use the 'realms' property instead. -->
        <property name="realm" ref="simpleAuthorizingRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
        <!--
            By default the servlet container sessions will be used.
            Uncomment this line to use shiro's native sessions.
        -->
        <!-- <property name="sessionMode" value="native"/> -->
    </bean>

    <!-- Define the realm you want to use to connect to your back-end security datasource. -->
    <bean id="simpleAuthorizingRealm" class="com.ssh.common.web.security.SimpleAuthorizingRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- 1800000 Millisecond = 30 Minute -->
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="cookie"/>
    </bean>

    <bean id="cookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <!-- 2592000 Second = 30 Day -->
        <property name="maxAge" value="2592000"/>
    </bean>

    <bean id="simpleFormAuthenticationFilter" class="com.ssh.common.web.security.SimpleFormAuthenticationFilter">
        <property name="usernameParam" value="username"/>
        <property name="passwordParam" value="password"/>
        <property name="captchaParam" value="captcha"/>
        <property name="tokenParam" value="token"/>
        <property name="rememberMeParam" value="rememberMe"/>
    </bean>

</beans>
