<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 自动扫描带注解的Bean -->
    <context:component-scan base-package="com.ssh.*.web"/>

    <!-- 验证码 -->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg type="java.util.Properties">
                    <props>
                        <prop key="kaptcha.session.key">captchaSessionKey</prop>
                        <prop key="kaptcha.session.date">captchaSessionDate</prop>
                        <prop key="kaptcha.textproducer.char.length">6</prop>
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <prop key="kaptcha.textproducer.font.size">34</prop>
                        <prop key="kaptcha.word.impl">com.ssh.common.web.captcha.WordRendererExt</prop>
                        <prop key="kaptcha.obscurificator.impl">com.ssh.common.web.captcha.DefaultRipple</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>

</beans>
