@CHARSET "UTF-8";

body {
    margin: 0;
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff;
}

/*
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-group {
    margin-bottom: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
*/

.form-group {
    margin-bottom: 10px;
}

.form-group label[class*="col-"] {
    padding-top: 5px;
    padding-right: 0 !important;
    margin-bottom: 5px;
}

/*
.control-label.required:before {
    content: "*";
    color: red;
    font-size: 12px;
    position: relative;
    top: 2px;
    right: 2px;
}
*/

.fa-arrow {
    float: right !important;
}

.fa-arrow:before {
    content: "\f103";
}

a.collapsed .fa-arrow:before {
    content: "\f102";
}

div.page-header {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 12px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

div.page-header small {
    font-style: italic;
}

div.page-header small:hover {
    cursor: pointer;
    color: orange;
}

.bs-content:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: attr(data-content);
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

form.bs-content {
    padding-bottom: 19px;
}

.bs-content {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 10px 0;
    padding: 30px 5px 5px;
    position: relative;
}

/*
.bs-content {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 15px 0;
	padding: 39px 19px 14px;
	position: relative;
}
*/

.bs-content-submenus .dropup > .dropdown-menu,
.bs-content-submenus .dropdown > .dropdown-menu {
    display: block;
    margin-bottom: 5px;
    position: static;
}

.bs-content-submenus {
    min-height: 180px;
}