<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- =============== Prod Env =============== -->
    <!--
    <import resource="classpath:spring-web-context.xml"/>
    <import resource="classpath:spring-shiro-cas.xml"/>
    <import resource="classpath:spring-freemarker.xml"/>
    <import resource="classpath:sys-web-context.xml"/>
    <import resource="classpath:sys-web-consumer.xml"/>
    -->

    <!-- =============== Dev Env =============== -->
    <import resource="classpath:spring-validation.xml"/>
    <import resource="classpath:spring-core-context.xml"/>
    <import resource="classpath:spring-web-context.xml"/>
    <import resource="classpath:spring-shiro.xml"/>
    <!--<import resource="classpath:spring-freemarker.xml"/>-->
    <import resource="classpath:sys-core-context.xml"/>
    <import resource="classpath:sys-web-context.xml"/>

</beans>
