<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--
    <bean class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="validationPointcut"/>
        <property name="advice" ref="validationAdvice"/>
    </bean>

    <bean id="validationPointcut" class="org.springframework.aop.support.annotation.AnnotationMatchingPointcut">
        <constructor-arg index="0" value="com.ssh.common.validation.Validated"/>
        <constructor-arg index="1" value="true"/>
    </bean>

    <bean id="validationAdvice" class="com.ssh.common.validation.MethodValidationInterceptor">
        <constructor-arg type="javax.validation.ValidatorFactory" ref="validator"/>
    </bean>
    -->

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <!-- 指定校验使用的资源文件(如果不指定则默认使用classpath下的ValidationMessage.properties文件) -->
        <property name="validationMessageSource">
            <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
                <property name="basenames">
                    <list>
                        <value>classpath:ValidationMessages</value>
                        <value>classpath:org/hibernate/validator/ValidationMessages</value>
                    </list>
                </property>
                <property name="defaultEncoding" value="utf-8"/>
                <property name="cacheSeconds" value="120"/>
            </bean>
        </property>
    </bean>

    <bean id="validationAspect" class="com.ssh.common.validation.ValidationAspect">
        <constructor-arg ref="validator"/>
    </bean>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="validationPointcut" expression="execution(* com.ssh.*.*.service.*Service.*(..))"/>
        <aop:aspect ref="validationAspect">
            <aop:before method="validate" pointcut-ref="validationPointcut"/>
        </aop:aspect>
    </aop:config>

    <!-- Enables the use of the @AspectJ style of Spring AOP. -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

</beans>
